
{% extends "base.html" %}
{% block content %}
<h1>Sign In</h1>


{% for cat, msg in get_flashed_messages(True) %}
<ul class="list-group">
<!--     <li class="list-group-item list-group-item-info">{{msg}}</li> -->
    <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
</ul>
{%endfor %}



{% from "_render_field.html" import render_field %}

<form method="post" action="{{ url_for('login', next=request.args.get('next')) }}">
<div class="form-group">

    {{ form.hidden_tag() }}

    {% for field in form if field not in [form.submit, form.hidden_tag, form.csrf_token] %}
            {{render_field(field)}}
    {% endfor %}   

</div>
    {{ form.submit() }}
 
</form>


{% endblock %}
 


